@import url('./reset.css');

@font-face {
    font-family: 'Apple Kid';
    src: url('./fonts/apple-kid-font/Apple-Kid.eot');
    src: url('./fonts/apple-kid-font/Apple-Kid.eot?#iefix') format('embedded-opentype'),
        url('./fonts/apple-kid-font/Apple-Kid.woff2') format('woff2'),
        url('./fonts/apple-kid-font/Apple-Kid.woff') format('woff'),
        url('./fonts/apple-kid-font/Apple-Kid.ttf') format('truetype'),
        url('./fonts/apple-kid-font/Apple-Kid.svg#Apple-Kid') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Apple Kid', Times, serif;
    color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.content {
    position: relative;
}

.breadcrumb {
    display: flex;
    justify-content: center;
}

.header-container {
    position: relative;
    display: flex;
    margin: 40px;
    background-color: #000000;
    width: 500px;
    min-height: 150px;
    border: 33px solid;
    border-radius: 50px;
    border-image: url('./bmtQZWx.png') 33 round;
    font-size: 28px;
}

.header-container:after {
    position: absolute;
    display: block;
    content: "";
    bottom: -26px;
    right: 0;
    height: 15px;
    width: 27px;
    background-image: url('./images/KGSpF6f-2.png');
    background-repeat: no-repeat;
    background-position: center center;
    animation: arrow .5s infinite;
    animation-timing-function: step-start;
    animation-fill-mode: forwards;
}

.option-buttons-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.option-button,
.points-counter,
.modal-container,
.win-lose-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50px;
    border: 33px solid;
    border-image: url('./bmtQZWx.png') 33 round;
    background-color: #000000;
    padding: 0;
    transition: all 0.3s;
}

.option-button {
    cursor: pointer;
}

.points-counter {
    width: 200px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

.modal-container {
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 999999;
    width: 90vw;
    height: 675px;
    flex-direction: column;
    justify-content: initial;
    font-size: 1.5rem;
    gap: 10px;
    text-align: center;
}

.win-lose-container {
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 999999;
    width: 30vw;
    height: 200px;
    flex-direction: column;
    justify-content: initial;
    font-size: 1.5rem;
    gap: 10px;
    text-align: center;
}

.hide {
    visibility: hidden;
    transform: translateY(-500px);
}

.modal-container .introduction {
    width: 70%;
}

.modal-container figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.modal-container img {
    width: 40px;
    height: auto;

}

.pk-list {
    margin-top: 20px;
}

.pk-list ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    text-align: center;
    gap: 100px;
}

.info-to-play {
    margin-top: 20px;
}

.info-to-play ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.info-to-play ul li {
    padding: 0;
}

.play-button,
.play-again {
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.1rem;
}

.button-hover-animation:hover {
    width: 140px;
    height: 140px;
}

.button-container button img {
    width: 100px;
    height: auto;
}

.starman {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.damage {
    animation: blink 1s linear infinite;
}

.starman img {
    width: 300px;
    height: auto;
}

.game-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.tutorial {
    animation: entrance .5s linear;
}

.exit {
    animation: exit .5s linear;
    top: -700px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.5;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0.5;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes entrance {
    0% {
        top: -700px;
    }

    50% {
        top: -300px;
    }

    100% {
        top: 20px;
    }
}

@keyframes exit {
    0% {
        top: 20px;
    }

    50% {
        top: -300px;
    }

    100% {
        top: -700;
    }
}

@keyframes arrow {
    0% {
        background-image: url('./images/KGSpF6f-2.png')
    }

    50% {
        background-image: url('./images/hPluALn.png')
    }

    100% {
        background-image: url('./images/KGSpF6f-2.png')
    }
}