@import url('./reset.css');

@font-face {
    font-family: 'Apple Kid';
    src: url('./fonts/apple-kid-font/Apple-Kid.eot');
    src: url('./fonts/apple-kid-font/Apple-Kid.eot?#iefix') format('embedded-opentype'),
        url('./fonts/apple-kid-font/Apple-Kid.woff2') format('woff2'),
        url('./fonts/apple-kid-font/Apple-Kid.woff') format('woff'),
        url('./fonts/apple-kid-font/Apple-Kid.ttf') format('truetype'),
        url('./fonts/apple-kid-font/Apple-Kid.svg#Apple-Kid') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Apple Kid', Times, serif;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.content {
    position: relative;
}

.breadcrumb {
    display: flex;
    justify-content: center;
}

.header-container {
    position: relative;
    display: flex;
    margin: 40px;
    background-color: #000000;
    width: 500px;
    min-height: 150px;
    border: 33px solid;
    border-radius: 50px;
    border-image: url('./bmtQZWx.png') 33 round;
    box-sizing: border-box;
    color: white;
    font-size: 28px;
}

.header-container:after {
    position: absolute;
    display: block;
    content: "";
    bottom: -26px;
    right: 0;
    height: 15px;
    width: 27px;
    background-image: url('./images/KGSpF6f-2.png');
    background-repeat: no-repeat;
    background-position: center center;
    animation: arrow .5s infinite;
    animation-timing-function: step-start;
    animation-fill-mode: forwards;
}

.option-buttons-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50px;
    border: 33px solid;
    border-image: url('./bmtQZWx.png') 33 round;
    background-color: #000000;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s;
}

.button-hover-animation:hover {
    width: 140px;
    height: 140px;
}

.button-container button img {
    width: 70px;
    height: auto;
}

.starman {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.damage {
    animation: blink 1s linear infinite;
}

.starman img {
    width: 300px;
    height: auto;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.5;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0.5;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes arrow {
    0% {
        background-image: url('./images/KGSpF6f-2.png')
    }

    50% {
        background-image: url('./images/hPluALn.png')
    }

    100% {
        background-image: url('./images/KGSpF6f-2.png')
    }
}